header{
	display: inline-block;
	padding-left: 50px;
	padding-top: 10px;
}

#imagen-logo {
	width: 20px;
	height: auto;
	vertical-align: middle;
}

#texto-nombre{
	font-size: 15px;
	color: #0A3871;
	text-align: left;
}

body{
	background: #F3F5FC;
	padding: 10px;
}

main li {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

#zona-encriptado{
	width: 650px;
	height: auto;
	margin-left: 10%;
	margin-right: 2.5%;
}

#texto-encriptado{
	padding: 50px 30px;
	width: 650px;
	height:305px;
	background: #F3F5FC;
	box-sizing: border-box;
	border: none;
	color: #0A3871;
	font-size: 20px;
}

textarea {
   	outline: none;
    resize: none; 
}

textarea::placeholder{
	color:#0A3871;
	font-size: 20px;
}

#zona-resultado{
	background: white;
	width: 220px;
	height: auto;
	margin-left: 2.5%;
	margin-right: auto;
	position: relative;
	top: -30px;
	right: auto;
	box-sizing: border-box;
	border: none;
	border-radius: 20px;
	color: #495057;
	box-shadow: 7.5px 7.5px 20px lightgrey;
}

#texto-resultado{
	background: white;
	width: 190px;	
	height: 305px;
	padding: 15px 15px;
	border: none;
	font-size: 15PX;
	border-radius: 20px
}

#zona-buscador{
	background: white;
	position: absolute;
	top: 0;
	right: 0;
	width: 220px;
	height: 410px;
	border-radius: 20px
}

#imagen-alerta{	
	display: inline-block;
	height: 14px;
	vertical-align: middle;
	margin-right:5px;
}
	
#nota{
  	font-weight: bold;
	font-size: 10px;
	color: #495057;
	padding: 8px 145px;
	text-align: left;
	vertical-align: middle;
}

.botones{
	background: none;
	width: 170px;
	padding: 10px 10px;
	font-size: 10px;
	border: 1px solid #0A3871;
	border-radius: 15px;
	color: #0A3871;
	margin: 0 10px;
}	

#boton-encriptar{
	background: #0A3871;
	color: white;
}

#boton-desencriptar{
	background: #D8DFE8;
}

#boton-copiar{
	margin: 22px 0;
}

#imagen-buscar{
	background: white;
	width: 160px;
	height: auto;
	padding: 110px 20px 20px 0;
}

#texto-resultado1{
	font-size: 17px;
	font-weight: bold;
	font-family: inter;
	color: #343A40;
	padding: 0 0 15px 0;
}

#texto-resultado2{
	font-size: 12px;
	font-weight: bold;
	font-family: inter;
	color: #495057;
}

@media screen and (max-width:1050px) {
	header{
		padding-left: 20px;
		padding-top: 40px;
	}

	#zona-encriptado{
		width: 90%;
		height: auto;
		margin: 2.5% 5%;
		font-size: 25px
	}

	#texto-encriptado{
		width: 90%;
		height: 60vh;
		padding: 5%;
	}

	textarea::placeholder{
		color:#0A3871;
		font-size: 25px;
	}

	#zona-resultado{
		width: 90%;
		height: 160px;
		top: 0;
		margin-top: 2.5%;
		margin-right: 5%;
		margin-left: 5%;
	}

	#texto-resultado{
		width: 90%;	
		height: 50px;
		position: relative;
		top: 0;
	}

	#zona-buscador{
		width: 95%;
		height: 160px;
		margin: 0 2.5%;
	}

	#imagen-buscar{
		display: none;
	}
	#boton-copiar{
		margin: 15px 0;
	}

	.botones{
		width: 42%;
		padding: 15px 10px;
		margin: 0 2%;
	}	
	
	#boton-copiar{
		width: 80%;
		margin: 18px auto;
	}

	#nota{
	  	width: 84%;
	  	padding: 0;
	  	margin: 0 6%;
		text-align: left;
		padding: 8px 0px;
	}

	#texto-resultado1{
	padding: 50PX 0 10px 0;
	}

}

@media screen and (max-width:450px) {
	#texto-encriptado{
		height: 45vh;
	}

	#zona-resultado{
		height: 150px;
	}

	#texto-resultado{
		height: 35px;
	}

	#zona-buscador{
		height: 150px;
	}

	.botones{
		width: 84%;
		padding: 15px 10px;
		margin: 10px 2%;
	}

	#nota{
	  	width: 84%;
	  	margin: 0 8%;
	}

}

